module-2/module-2-demo-2-add-retry-catch/stepfunctions/ps-linear-pipeline-demo/definition.json
{
  "Comment": "Linear pipeline: Clean -> Summarize -> Notify with retry, catch, and optional field defaults",
  "StartAt": "CleanOrders",
  "States": {
    "CleanOrders": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:605024711850:function:ps-clean-orders-lambda",
      "ResultPath": "$.clean",
      "Next": "EnsureFailSummary"
    },
    "EnsureFailSummary": {
      "Type": "Choice",
      "Choices": [
        { "Variable": "$.fail_summary", "IsPresent": true, "Next": "EnsureTransientAttempt" }
      ],
      "Default": "SetFailSummaryFalse"
    },
    "SetFailSummaryFalse": {
      "Type": "Pass",
      "Result": false,
      "ResultPath": "$.fail_summary",
      "Next": "EnsureTransientAttempt"
    },
    "EnsureTransientAttempt": {
      "Type": "Choice",
      "Choices": [
        { "Variable": "$.transient_until_attempt", "IsPresent": true, "Next": "SummarizeReport" }
      ],
      "Default": "SetTransientAttemptZero"
    },
    "SetTransientAttemptZero": {
      "Type": "Pass",
      "Result": 0,
      "ResultPath": "$.transient_until_attempt",
      "Next": "SummarizeReport"
    },
    "SummarizeReport": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:605024711850:function:ps-summarize-report-lambda",
      "Parameters": {
        "clean.$": "$.clean",
        "fail_summary.$": "$.fail_summary",
        "transient_until_attempt.$": "$.transient_until_attempt",
        "attempt.$": "$$.State.RetryCount"
      },
      "ResultPath": "$.summary",
      "Retry": [
        { "ErrorEquals": ["RuntimeError"], "IntervalSeconds": 2, "BackoffRate": 2.0, "MaxAttempts": 3 }
      ],
      "Catch": [
        { "ErrorEquals": ["States.ALL"], "ResultPath": "$.summary_error", "Next": "HandleFailure" }
      ],
      "Next": "NotifySuccess"
    },
    "HandleFailure": {
      "Type": "Pass",
      "Result": { "message": "Summary failed after retry; captured in catch path" },
      "End": true
    },
    "NotifySuccess": {
      "Type": "Pass",
      "Result": { "message": "Pipeline completed successfully" },
      "End": true
    }
  }
}
